<!-- <p>trang chi tiet </p>

<div *ngIf="selectedFood">
  <h2>{{selectedFood.name | uppercase}} Details</h2>
  <div>id: {{selectedFood.id}}</div>
  <div>
    
    <label >Hero name: </label>
    <div  [(ngModel)]="selectedFood.name" placeholder="name">
  </div>
</div> -->
<div *ngIf="selectedFood">

  <h2>{{selectedFood.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedFood.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedFood.name" placeholder="name">
  </div>

</div>