<div class="content-section">
    <div class="contact">
        <h1 class="contact-h1">
            Contact
        </h1>
        <p class="contact-text">
            We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.
        </p>
        <p class="contact-address">
            <b>Catering Service, 42nd Living St, 43043 New York, NY</b>
        </p>
        <p class="contact-tel">
            You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a message here:
        </p>
        <form action="">
            <p><input type="text" placeholder="Name" class="info"></p>
            <p><input type="number" placeholder="How many people" class="info"></p>
            <p><input type="datetime-local" placeholder="Message \ Special requirements" class="info"></p>
            <p><input type="text" placeholder="Message \ Special requirements" class="info"></p>
            <p>
                <button class="send-btn" type="submit">
                    SEND MESSAGE
                </button>
            </p>
        </form>
    </div>
</div>
