
/* Contact */
#content{
    max-width: 1100px;

    margin-right: auto;
    margin-left: auto;
}
.contact {
    max-width: 1100px;

    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
}
.contact-h1{
    letter-spacing: 5px;
    margin: 10px 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
.contact-text{
    margin: 15px 0;
    font-size: 15px;
}
.contact-address{
    color: #607d8b;
    margin: 18px 0;

}
.contact-tel{
    margin: 15px 0;
    font-size: 15px;
}
.info{
    width: 100%;
    display: block;
    padding: 16px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.send-btn{
    margin: 16px 0;
    padding: 8px 16px;
    background-color: #f1f1f1;
    border: none;
    
}   
.send-btn:hover{
    background-color: #ccc;
    color: #000;

}