<!-- <ul class="foods">
  <div *ngFor="let food of foods">
    <button type="button">
      <h1 class="badge">{{food.id}}</h1>
      <h2 class="name">{{food.name}}</h2>
    </button>
  </div>
</ul> -->
<h2 class="menu">MENU</h2>

<section>

  <div class="food-main" *ngFor="let food of foods">
    <div
      class="food-item"
      class="food-item"
      [class.selected]="food === selectedFood"
      type="button"
      (click)="onSelect(food)"
    >
      <!-- <img src="{{food.img}}" alt="anh"> -->
      <h3>{{ food.name }}</h3>
      <p class="name">{{ food.id }}:{{ food.des }}</p>
    </div>
  </div>
</section>
