<section>
    <div id="content">
        <div class="content-section">
            <div class="content-about">
                <div class="content-about-img">
                    <img src="https://images.unsplash.com/photo-1511910849309-0dffb8785146?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dmlldG5hbWVzZSUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="" class="table-setting">
                </div>
                <div class="content-about-text">
                    <h1 class="About-Catering">
                        About Catering
                    </h1>
                    <h5 class="catering-time">
                        Tradition since 1889
                    </h5>
                    <p class="text-1">
                        This Pho recipe has been in the works for a while now. It’s been quietly made and remade by various RecipeTin family members since our first trip to Vietnam. We’ve compared notes, debated furiously about how the latest iteration compared to the (many) bowls of Pho soup we slurped during our travels, and our favourite Pho restaurants back home here in Sydney.
                    </p>
                    <p class="text-1">
                        The best beef pho broth is made using several different types of beef bones. I like to add strictly marrow bones (no meat) and meaty bones (bones with meat on them. Try to incorporate a mix of knuckles, joints, feet, or marrow bones like leg and shin bones that have been cut into smaller pieces. For added flavor incorporate meaty bones like oxtail, shank, and short ribs. You can also toss in 2-3 pounds beef brisket or beef cheek, which adds amazing flavor and provides leftover meat for sandwiches and soups.
                    </p>
                    <p class="text-1">
                        The easiest way to thinly slice tender raw beef is to partially freeze it before slicing. Careful not to freeze it all the way, though! Otherwise, it will be impossible to slice through. It’s also helpful to have a recently sharpened knife.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="content-section">
            <div class="content-Menu">
                <div class="content-about-img">
                    <img src="https://images.unsplash.com/photo-1571917411767-20545014a0bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHZpZXRuYW1lc2UlMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="" class="table-setting">
                </div>
                <div class="content-about-text">
                    <h1 class="our-menu">
                        Our Menu
                    </h1>
                    <h4 class="menu-name">Bread Basket</h4>
                    <p class="our-menu-detail">Assortment of fresh baked fruit breads and muffins 5.50</p>
                    <h4 class="menu-name">Honey Almond Granola with Fruits</h4>
                    <p class="our-menu-detail">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p>
                    <h4 class="menu-name">Belgian Waffle</h4>
                    <p class="our-menu-detail">Vanilla flavored batter with malted flour 7.50</p>
                    <h4 class="menu-name">Scrambled eggs</h4>
                    <p class="our-menu-detail">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p>
                    <h4 class="menu-name">Blueberry Pancakes</h4>
                    <p class="our-menu-detail">With syrup, butter and lots of berries 8.50</p>
                </div>
            </div>
        <hr>

            <div class="content-about">
                <div class="content-about-img">
                    <img src="https://media.istockphoto.com/id/1425157125/photo/dark-moody-coffee-drink-photography-vietnamese-condensed-milk-coffee.jpg?b=1&s=170667a&w=0&k=20&c=37BXnBQ9lYFWwKS0h1EhOMX2c7CzKdsEmFvcxu9Kess=" alt="" class="table-setting">
                </div>
                <div class="content-about-text">
                    <h1 class="About-Catering">
                        Coffee with milk <br>(ca phe nau or ca phe sua)
                    </h1>
                    <h5 class="catering-time">
                        Tradition since 1889
                    </h5>
                    <p class="text-1">
                        Most people drink the dark, strong brew with sweetened condensed milk, a practice that began because the French couldn't easily acquire fresh milk. Up to this day, fresh milk is not a common ingredient found in traditional coffee shops. You could ask but shouldn’t count on it. In the north of Vietnam, the mixture of black coffee and sweetened condensed milk is referred to as ca phe nau (brown coffee), while in the south it’s called ca phe sua (milk coffee). While it is mostly served cold with ice, you can also order it hot.
                    </p>
                    <p class="text-2">
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
        <hr> 
    </div>
</section>
